<nav class="navbar navbar-light" id="navbar" >
  <a class="navbar-brand" style="margin-left:4.5cm;">Covid-Resources</a>
  <a class="navbar-brand" style="float:centre;color:red;"><b>Please BeWare Of Frauds</b></a>
  <a class="navbar-brand" style="float:right;margin-right:2cm;">Contact Us</a>
</nav>
