<nav class="navbar navbar-expand-sm navbar-light" id="navbar" >
  <a class="navbar-brand">TechConfer</a>
</nav>
<script>
function openNav() {
  document.getElementById("mySidenav").style.width = "250px";
  document.getElementById("main").style.marginLeft = "250px";
}

function closeNav() {
  document.getElementById("mySidenav").style.width = "0";
  document.getElementById("main").style.marginLeft= "0";
}
</script>
