<nav class="navbar navbar-light" id="navbar" >
  <a class="navbar-brand" ><span style="font-size:30px;cursor:pointer" onclick="openNav()"><i class="fas fa-bars"></i></span></a>
  <a class="navbar-brand">TechConfer</a>
  <a class="navbar-brand" style="float:centre;color:red;margin-left:3cm;"><b></b>Covid-Resources</a>
  <a class="navbar-brand" style="float:right;margin-right:13cm;"></a>
</nav>
<script>
function openNav() {
  document.getElementById("mySidenav").style.width = "250px";
  document.getElementById("main").style.marginLeft = "250px";
}

function closeNav() {
  document.getElementById("mySidenav").style.width = "0";
  document.getElementById("main").style.marginLeft= "0";
}
</script>
