<nav class="navbar navbar-expand-sm navbar-light" id="navbar" >
  <a class="navbar-brand" ><span style="font-size:30px;cursor:pointer" onclick="openNav()"><i class="fas fa-bars"></i></span></a>
  <a class="navbar-brand" style="margin-left:2cm;">TechConfer</a>
</nav>
<script>
function openNav() {
  document.getElementById("mySidenav").style.width = "250px";
  document.getElementById("main").style.marginLeft = "250px";
}

function closeNav() {
  document.getElementById("mySidenav").style.width = "0";
  document.getElementById("main").style.marginLeft= "0";
}
</script>
