<div id="col-1">
  <div class="card" id="city">
  <%= link_to root_path, title: "Back" do %>
    <i class="fas fa-long-arrow-alt-left fa-2x" style="margin-left:0.5cm;"></i>
    <%end%>
    <div class="card-body">
      <i class="fa fa-map-marker" style="font-size:24px;color:#00acee; float:right;"></i>
      <b>Select a City</b><br><br>
      <% @cities.each do |city| %>
        <a  style="margin-left:5px;margin-top:5px;color:white;"
        <%= link_to city.name.titlecase, search_resources_path(resource_id: params[:resource_id], city: "#{city.name}"), remote: true, class: "button"  %>
        </a>
      <%end%>
    </div>
  </div>
</div>
<div id="col-2">
<div id="tweet"></div>
</div>

