#body{
  background-color: rgba(243, 239, 239, 0.521);
}

#tweet{
  width: 90%;
  margin-left: 1cm;
  margin-top: 0.6cm;
  border-radius: 5%;
}

#navbar{
  background-color: white;
  box-shadow: 0 8px 15px rgba(0,0,0,.2);
}


.img{
  border-radius: 50px;
}

.grid-container {
  display: grid;
  grid-template-columns: auto auto auto;
  width: 50%;
  
}

.grid-item {
  text-align: center;
  padding:15px;
}

#resource{
  margin-left: 25%;
  margin-top: 1cm;
  margin-right: 25%;
  margin-bottom: 1cm;
  width: 50%;
  box-shadow: 0 8px 15px rgba(0,0,0,.2);

}

.button{
  background-color: #60af78; /* Green */
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  border-radius: 12px;
}

#col-1 {
  position: relative;
  width: 50%;
  float: left;
  height: 100%;
  
}

#col-2 {
  position: relative;
  width: 50%;
  float: left;
  height: 100%;
  overflow: hidden;
}

#city{
  margin-top: 2cm;
  margin-right: 1cm;
  width: 90%;
  margin-left: 1cm;
  box-shadow: 0 8px 15px rgba(0,0,0,.2);

}

.sidenav {
  margin-top:1.9cm;
  height: 100%;
  width: 0;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  background-color: white;
  overflow-x: hidden;
  transition: 0.5s;
  padding-top: 60px;
  box-shadow: 0 8px 15px rgba(0,0,0,.2);
}

.sidenav a {
  padding: 8px 8px 8px 32px;
  text-decoration: none;
  font-size: 25px;
  color: #222121;
  display: block;
  transition: 0.3s;
}

.sidenav a:hover {
  color: #f1f1f1;
}

.sidenav .closebtn {
  position: absolute;
  top: 0;
  right: 25px;
  font-size: 36px;
  margin-left: 50px;
}

#main {
  transition: margin-left .5s;
  padding: 16px;
}

.column {
  float: left;
  width: 50%;
  height: 30%;
  margin-bottom: 1cm;
}

.row:after {
  content: "";
  display: table;
  clear: both;
}

#news{
  width: 70%;
  margin-left: 20%;
  margin-right: 20%;
  overflow: auto;
  max-height: 8cm;
  padding: 20px;
}

#h3{
  float: centre;
  color: red;
}

#newsheading{
  margin-left: 20%;
  margin-right: 20%;
  margin-top: 3cm;
}

#disclaimer{
  width: 50%;
  margin-left: 25%;
  margin-right: 25%;
  margin-bottom: 1cm;
  font-size: smaller;
  padding: 10px;
  box-shadow: 0 8px 15px rgba(0,0,0,.2);

}

@import url('https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css');
section {
    padding: 60px 0;
}

section .section-title {
    text-align: center;
    color: #007b5e;
    margin-bottom: 50px;
    text-transform: uppercase;
}
#footer {
    background: #49a38d !important;
}
#footer h5{
	padding-left: 10px;
    border-left: 3px solid #eeeeee;
    padding-bottom: 6px;
    margin-bottom: 20px;
    color:#ffffff;
}
#footer a {
    color: #ffffff;
    text-decoration: none !important;
    background-color: transparent;
    -webkit-text-decoration-skip: objects;
}
#footer ul.social li{
	padding: 3px 0;
}
#footer ul.social li a i {
    margin-right: 5px;
	font-size:25px;
	-webkit-transition: .5s all ease;
	-moz-transition: .5s all ease;
	transition: .5s all ease;
}
#footer ul.social li:hover a i {
	font-size:30px;
	margin-top:-10px;
}
#footer ul.social li a,
#footer ul.quick-links li a{
	color:#ffffff;
}
#footer ul.social li a:hover{
	color:#eeeeee;
}

@media (max-width:200px){
	#footer h5 {
    padding-left: 0;
    border-left: transparent;
    padding-bottom: 0px;
    margin-bottom: 10px;
}
}

#state{
  margin-top: 1cm;
  margin-left: 20%;
  margin-right: 20%;
  min-height: 10cm;
  box-shadow: 0 8px 15px rgba(0,0,0,.2);
  margin-bottom: 1cm;
}

.form{
  background-color: white;
  margin-top: 1cm;
  margin-left: 3%;
  margin-right: 3%;
  padding-inline: 20px;
}

form select {
  background-color: white;
}


form input[type=submit] {
  width: 20%;
  background-color: #60af78;
  color: white;
  padding:  8px 15px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

form input[type=number], select {
  width: 60%;
  padding: 8px 15px;
  margin-left: 5cm;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
}

#center{
  margin-top: 1cm;
  margin-left: 3%;
  margin-right: 3%;
  overflow: auto;
  max-height: 8cm;
  box-shadow: 0 8px 15px rgba(0,0,0,.2);

}

td {
  text-align: center;
  font-size: small;
}

#vaccine{
  margin-left: 5%;
  margin-top: 1cm;
  margin-right: 5%;
  margin-bottom: 1cm;
  width: 90%;
  text-align: center;
  box-shadow: 0 8px 15px rgba(0,0,0,.2);
}
.link{
  color: black;
}
