#city{
  width: 35%;
  margin-left: 1cm;
  margin-top: 1cm;
}


form input[type=password], select {
  width: 60%;
  padding:  8px 15px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
}

form select {
  background-color: white;
  margin-bottom: 10px;
  margin-top: 10px;
  margin-left: 35px;
}


form input[type=submit] {
  width: 60%;
  background-color: #0099ff;
  color: white;
  padding:  8px 15px;
  margin: 8px 0;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  margin-left: 35px;
}
